.column {display: inline-block; height: calc(100vh - 68px); width: 32vw; vertical-align: top;border-right: 3px solid #01010461;}
.item {
    text-align: center;
    background-color: #0000004a;
    border: 1px solid #00000059;
}