<div class="column">
    <div>Userlist</div>
    <div class="item" *ngFor="let item of data">
        <div class="name" (click)="showUser(data.indexOf(item))">{{item.playername}}</div>
    </div>
</div>
<div class="column">
    <div *ngIf="curItem != -1">
        <div>Userdetails</div>
        <div class="item">Player ID: {{data[curItem]?.userID}}</div>
        <div class="item">Name: {{data[curItem]?.playername}}</div>
        <div class="item">Wins: {{data[curItem]?.wins}}</div>
        <div class="item">Loses: {{data[curItem]?.loses}}</div>
    </div>
</div>