<div id="settingstable">
    <div id="logout"><a class="button" href="/Manage">Account management</a></div>
    <div class="separatist"></div>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input id="userpass" value="**********" /></td>
        </tr>
        <tr>
            <td><div class="button" onclick="alert('saved')">Save</div></td>
            <td></td>
        </tr>
    </table>
</div>
