<div class="{{isDataLoaded?'hide':''}}" style="position:absolute;
            background-color: #0b0e14c7;
            z-index: 1;
            height: calc(100vh - 68px);
            width:100vw;
            text-align: center;
            font-family: monospace;
            padding:30%;
            font-size: larger;
            left: 0;">We're just updating our data, commander... <i class="progress active">x</i>
            <div (click)="loadOfflineData()">loadOfflineData</div>
            <div (click)="loadOnlineData()">loadOnlineData</div>
</div>

<p id="topbarinfo">Resources: | 
    <span class="resource">Credits: {{formatNumber(baseData?.resources.credits)}} | </span>
    <span class="resource">Energy: {{formatNumber(baseData?.resources.energy)}} | </span>
    <span class="resource">Neutrino: {{formatNumber(baseData?.resources.neutrino)}} | </span>
    <i *ngIf="baseData?.isActive" class="activeBase">ø</i>
</p>
<div id="block">
    <h4>Structures</h4>
    <div id="structures" class="items" >
        <div class="item" *ngFor="let item of baseData?.structures">
            <div class="image">
                <img class="{{item.type}}" />
                <div class="name">{{gameVars.getInfo(item.type).name}}</div>
            </div>
            <div class="desc">
                <div class="cost">level: {{item.level}} => level {{item.level+1}}</div>
                <div class="cost">credits: {{gameVars.getInfo(item.type).credits}} | energy: {{gameVars.getInfo(item.type).energy}}</div>
            <span *ngIf="false">
                <div class="task">Task: 
                    <span *ngIf="item.task.action; else unset">
                        {{item.task.action}} until {{item.task.endsin | date :'short'}}
                    </span>
                    
                    <ng-template #unset>  
                        None
                    </ng-template>  
                </div>
            </span>
                <div class="actions">
                    <div class="levelUpIcon button" (click)="upgradeStructure(item)">Upgrade</div>
                    <div class="levelUpIcon button hide" (click)="setStructureTask(item)">Clear task</div>
                    <div class="button" (click)="destroyStructure(item)">Destroy</div>
                </div>
            </div>
        </div>
        <span *ngIf="allowToBuild().length > 0">
        <div class="item">
            <div class="image"><img class="newStructure" /></div>
            <div class="desc">
                <div class="name">New structure</div>
                <div class="actions">
                    <select #destination.value="ngModel" name="destination" [(ngModel)]="destination" (change)="updateInput(true, destination)">
                        <option *ngFor="let str of allowToBuild()" [value]="str">{{gameVars.getInfo(str).name}}</option>
                    </select>
                    <div class="button" (click)="buildStructure(destination)">Build structure</div>
                </div>
                <div class="option">credits: {{requestedCreditsToStructure}} | energy: {{requestedEnergyToStructure}}</div>
            </div>
        </div>
        </span>
    </div>
    <h4>Units</h4>
    <div id="units" id="items">
        <div class="item" *ngFor="let item of baseData?.units">
            <div class="image">                    
                <img class="{{item.type}}" />
                <div class="name">{{gameVars.getInfo(item.type).name}}</div>
            </div>
            <div class="desc">
                <div class="cost">On base: {{item.count}}</div>
                <div class="cost">Power: {{gameVars.getInfo(item.type).power}}</div>
            </div>
        </div>
        <span *ngIf="canMakeUnits()">
        <div class="item">
            <div class="image">
                <img class="newStructure" />
                <div class="name">New unit</div>
            </div>
            <div class="desc">
                <div class="actions">
                    <select #unitInput.value="ngModel" name="unitInput" [(ngModel)]="unitInput" (change)="updateInput(false, unitInput, unitCount)">
                        <option *ngFor="let str of unitsList" [value]="str">{{gameVars.getInfo(str).name}}</option>
                    </select>
                    <input class="hide" type="number" #unitCount.value="ngModel" name="unitCount" [(ngModel)]="unitCount" (change)="updateInput(false, unitInput, unitCount)">
                    <div class="button" (click)="makeUnit(unitInput)">Make unit</div>
                </div>
                <div class="option">credits: {{requestedCreditsToUnit}} | energy: {{requestedEnergyToUnit}}</div>
            </div>
        </div>
        </span>
    </div>
</div>
<div id="baseinfo">
    <h4>Base info</h4>
        <div>Name: {{baseData?.basename || "basename"}} | ID {{baseData?.baseID || 0}}</div>
        <div>Owner: You | ID {{baseData?.ownerID || 0}}</div>
        <div>Level: {{baseData?.level || 0}}</div>
        <div>Defence multiplier: {{defenceMultiplier()}}%</div>
        <div *ngIf="!baseData?.isActive">Base is inactive</div>
    <div class="separatist"></div>
    <h4>Current task</h4>
        <div [ngSwitch]="baseData?.task.action">
            <ng-template ngSwitchCase="build">Building: {{baseData?.task.result}}</ng-template>
            <ng-template ngSwitchCase="upgrade">Upgrading base</ng-template>
            <ng-template ngSwitchCase="repair">Repairing base</ng-template>
            <ng-template ngSwitchCase="create">Creating: {{baseData?.task.result}}</ng-template>
            <ng-template ngSwitchDefault="">None</ng-template>
        </div>
        <div *ngIf="baseData.task.action">Ends in: {{baseData?.task.endsin | date :'short'}}</div>
    <div class="separatist"></div>
    <h4>Prodution</h4>
        <div>Credits: +{{formatNumber(resourceProduction.credits * 60) || 0}}/min.</div>
        <div>Energy: +{{formatNumber(resourceProduction.energy * 60) || 0}}/min.</div>
        <div>Neutrino: +{{resourceProduction.neutrino * 60 || 0}}/min.</div>
        <div>Population: {{resourceProduction.population || 0}}</div>
    <div class="separatist"></div>
    <h4>Actions</h4>
    <div class="button" (click)="upgradeBase()">Level up ^ ({{baseData?.level * gameVars.getInfo("base").upgrade.energy || 0}})</div>
    <div class="button" (click)="toggleBaseActiveness()">Repair ({{baseData?.level * gameVars.getInfo("base").repair.energy || 0}})</div>
    <div class="button" (click)="setBaseTask('', '', 0)">Clear task</div>
</div>