<div class="{{isDataLoaded?'hide':''}}" style="position:absolute;
            background-color: #0b0e14c7;
            z-index: 1;
            height: calc(100vh - 68px);
            width:100vw;
            text-align: center;
            font-family: monospace;
            padding:30%;
            font-size: larger;
            left: 0;">We're just updating our data, commander... <i class="progress active">x</i>
            <div (click)="loadOfflineData()">loadOfflineData</div>
            <div (click)="loadOnlineData()">loadOnlineData</div>
</div>

<div id="battletable">

    <div style="width: 70%; margin-left: 15%; min-height: 200px;">
        <h4>Send new squad</h4>
        <div style="width: 25%;
        display: inline-block;vertical-align: top;">
            <div>Select units in squad:</div>
            <br />
            <div>Select destination:
                <select (change)="recalculateTime()" #destination.value="ngModel" name="destination" [(ngModel)]="destination">
                    <option *ngFor="let base of basesData" [value]="base.baseID">{{base.basename}} ({{base.baseID}})</option>
                </select>
            </div>
            <div>Estimation time travel: {{estiamatedTime}}s</div>
            <div class="button" (click)="sendSquad(destination)">Send</div>
        </div>
        <div style="width: 75%;
        display: inline-block;vertical-align: top;">
            <div class="item">
                <div class="image"><img class="newStructure" /></div>
                <div class="desc">
                    <div class="name">Unit</div>
                    <div class="option">Choose count: </div>
                    <div class="actions">
                        <input type="number" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image"><img class="newStructure" /></div>
                <div class="desc">
                    <div class="name">Unit</div>
                    <div class="option">Choose count: </div>
                    <div class="actions">
                        <input type="number" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="image"><img class="newStructure" /></div>
                <div class="desc">
                    <div class="name">Unit</div>
                    <div class="option">Choose count: </div>
                    <div class="actions">
                        <input type="number" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separatist"></div>

    <h4>Squads on missions</h4>
    <table>
        <tr>
            <th>Squad #</th>
            <th>Mission</th>
            <th>From</th>
            <th>Departured</th>
            <th>To</th>
            <th>Arrival at</th>
            <th>Units</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let squad of battlesData">
            <td>*</td>
            <td>{{squad.action}}</td>
            <td>{{squad.from}}</td>
            <td>{{squad.departure | date :'short'}}</td>
            <td>{{squad.to}}</td>
            <td>{{squad.arrival | date :'short'}}</td>
            <td><div *ngFor="let unit of squad.units">{{unit.type}} - {{unit.count}} units</div></td>
            <td><div *ngIf="squad.action=='attacking'" class="button" (click)="returnSquad(squad)" onclick="alert('Your order sent to that squad');">Get them back!</div>
                <div *ngIf="squad.action=='returning'">None</div></td>
        </tr>
    </table>

</div>
