<p id="topbarinfo">Resources: | <span *ngFor="let res of baseData[0]?.resources" class="resource">{{res.type}}: {{res.count}} | </span></p>
<div id="block">
    <h4>Structures</h4>
    <div id="structures" class="items" >
        <div class="item" *ngFor="let item of baseData[0]?.structures">
            <div class="image"><img class="{{item.type}}" /></div>
            <div class="desc">
                <div class="name">{{item.type}} (level: {{item.level}})</div>
                <div class="actions">
                    <div class="levelUpIcon button" onclick="alert('upped')">level+</div>
                    <div class="button" onclick="alert('destroyed')">destroy struct</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="image"><img class="newStructure" /></div>
            <div class="desc">
                <div class="name">New structure</div>
                <div class="actions">
                    <div class="button" onclick="alert('builded')">build struct</div>
                </div>
            </div>
        </div>
    </div>
    <h4>Units</h4>
    <div id="units" id="items">
        <div class="item" *ngFor="let item of baseData[0]?.units">
            <div class="image"><img class="{{item.type}}" /></div>
            <div class="desc">
                <div class="name">{{item.type}} (on base: {{item.count}})</div>
                <div class="actions">
                    <div class="levelUpIcon button" onclick="alert('upped')">level+</div>
                    <div class="button" onclick="alert('destroyed')">destroy struct</div>
                </div>
            </div>
        </div>
    </div>
    <div id="baseinfo">
        <h4>Base info</h4>
        <div>Name: {{baseData[0]?.name}}</div>
        <div>Owner: {{baseData[0]?.owner}}</div>
        <div>Level: {{baseData[0]?.level}}</div>
        <div class="separatist"></div>
        <h4>Prodution</h4>
        <div>Credits: {{100*baseData[0]?.level}}/min.</div>
        <div>Energy: {{100*baseData[0]?.level}}/min.</div>
        <div>Population: {{4*baseData[0]?.level}}</div>
        <div class="separatist"></div>
        <h4>Actions</h4>
        <div class="button" onclick="alert('upped')">Level up ^</div>
    </div>
</div>