<div class="{{isDataLoaded?'hide':''}}" style="position:absolute;
            background-color: #0b0e14c7;
            z-index: 1;
            height: calc(100vh - 68px);
            width:100vw;
            text-align: center;
            font-family: monospace;
            padding:30%;
            font-size: larger;
            left: 0;">We're now updating our data, commander... <i class="progress active">x</i>
            <div style="position: absolute; left: 0; bottom: 0;">
                <div (click)="loadOfflineData()">loadOfflineData</div>
                <div (click)="loadOnlineData()">loadOnlineData</div>
            </div>
</div>

<div id="statstable">
    <div>Next update in {{timeLeftMin}}:{{timeLeftSec}}</div>
    <table>
        <tr>
            <th>#</th>
            <th>Nickname</th>
            <th>Base name</th>
            <th>Wins</th>
            <th>Loses</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let stat of statsData">
            <td>*</td>
            <td>{{stat.playername}}</td>
            <td>{{stat.basename}} (level {{stat.level}})</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.loses}}</td>
            <td>{{stat.wins - stat.loses}}</td>
        </tr>
    </table>
</div>