<div id="statstable">
    <div>Next update in {{timeLeftMin}}:{{timeLeftSec}}</div>
    <table>
        <tr>
            <th>#</th>
            <th>Nickname</th>
            <th>Base name</th>
            <th>Wins</th>
            <th>Loses</th>
        </tr>
        <tr *ngIf="statsData.length == 0"><td colspan="5">Refreshing data... <i class="loading active">x</i></td></tr>
        <tr *ngFor="let stat of statsData">
            <td>*</td>
            <td>{{stat.playername}}</td>
            <td>{{stat.basename}} (level {{stat.level}})</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.loses}}</td>
        </tr>
    </table>
</div>