<a [routerLink]="['/']">
  <h1>C#G</h1>
</a>
<a [routerLink]="['base']" class="button fancy-button">Base</a>
<a [routerLink]="['battles']" class="button fancy-button">Battles</a>
<a [routerLink]="['stats']" class="button fancy-button">Stats</a>
<a [routerLink]="['settings']" class="button fancy-button">Settings</a>
<a [routerLink]="['admin']" class="button fancy-button">Admin</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->