#battletable {
    position: absolute;
    width: 96%;
}
#battletable table {width: 100%; line-height: 32px;}
#battletable table tr td {
    text-align: center;
}
#battletable table tr td:first-of-type {
    text-align: right;
}