<div id="battletable">
    <h4>Squads on missions</h4>
    <table>
        <tr>
            <th>Squad #</th>
            <th>Mission</th>
            <th>From</th>
            <th>To</th>
            <th>Arrival at</th>
            <th>Units</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Attacking base</td>
            <td>Planet 1</td>
            <td>Planet 2</td>
            <td>12/20/2019</td>
            <td><div>2 ships</div><div>and 4 another ships</div></td>
            <td><div class="button" onclick="alert('Your order sent to that squad')">Get them back!</div></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Returning home</td>
            <td>Planet 3</td>
            <td>Planet 1</td>
            <td>12/20/2019</td>
            <td><div>1 ship</div><div>and 1 another ship</div></td>
            <td>()</td>
        </tr>
    </table>
    <div class="separatist"></div>
    <div>
        <h5>Send new squad</h5>
        <div>Select destination: <select><option>Planet 2</option><option>Planet 3</option><option>Planet 4</option></select></div>
        <div>Estimation time travel: 000s</div>
        <div>
            Select units in squad: <div><input type="number" /></div>
            <div class="button" onclick="alert('sent')">Send</div>
        </div>
    </div>
