<div id="battletable">
    <h4>Squads on missions</h4>
    <table>
        <tr>
            <th>Squad #</th>
            <th>Mission</th>
            <th>From</th>
            <th>To</th>
            <th>Arrival at</th>
            <th>Units</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let squad of battlesData">
            <td>*</td>
            <td>{{squad.action}}</td>
            <td>{{squad.from}}</td>
            <td>{{squad.to}}</td>
            <td>{{squad.arrival}}</td>
            <td><div *ngFor="let unit of squad.units">{{unit.type}} - {{unit.count}} units</div></td>
            <td><div class="button" onclick="alert('Your order sent to that squad')">Get them back!</div></td>
        </tr>
    </table>
    <div class="separatist"></div>
    <div>
        <h5>Send new squad</h5>
        <div>Select destination: <select><option>Planet 2</option><option>Planet 3</option><option>Planet 4</option></select></div>
        <div>Estimation time travel: 000s</div>
        <div>
            Select units in squad: <div><input type="number" /></div>
            <div class="button" onclick="alert('sent')">Send</div>
        </div>
    </div>
