<div id="settingstable">
    <div class="right">Actions: <a class="button" (click)="logout()">Logout</a></div>
    <div class="separatist"></div>
    <table>
        <tr>
            <th>Settings name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Account name</td>
            <td><input placeholder="youraccountname" value="{{username}}" disabled /></td>
        </tr>
        <tr>
            <td>Privileges</td>
            <td><input value="{{role}}" disabled /></td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input #password.value="ngModel" placeholder="************" name="password" [(ngModel)]="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="right"><a class="button" (click)="setValue(password)">Save</a></div></td>
        </tr>
    </table>
</div>
