<div id="settingstable">
    <div id="logout"><a class="button" href="/Manage">Account management</a></div>
    <div class="separatist"></div>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{userData.username}}</td>
        </tr>
        <tr>
            <td>New password</td>
            <td><input #password.value="ngModel" value="{{userData.password}}" name="password" [(ngModel)]="password" /></td>
        </tr>
        <tr>
            <td><div class="button" (click)="setValue(password)">Save</div></td>
            <td></td>
        </tr>
    </table>
</div>
