<div id="statstable">
    <div>Next update in {{timeLeftMin}}:{{timeLeftSec}}</div>
    <table>
        <tr>
            <th>#</th>
            <th>Nickname</th>
            <th>Base name</th>
            <th>Wins</th>
            <th>Loses</th>
            <th>Resources</th>
        </tr>
        <tr *ngFor="let stat of statsData">
            <td>*</td>
            <td>{{stat.name}}</td>
            <td>{{stat.basename}} (level {{stat.level}})</td>
            <td>{{stat.wins}}</td>
            <td>{{stat.loses}}</td>
            <td>{{stat.score}}</td>
        </tr>
    </table>
</div>