<div class="onethirdcolumn">
  <div><a [routerLink]="['users']" class="button fancy-button">Users</a></div>
  <div>Userlist</div>
  <div></div>
  <div>Userdetails</div>
  <div></div>
</div>
<div class="onethirdcolumn">
  <div><a [routerLink]="['bases']" class="button fancy-button">Bases</a></div>
  <div>baselist</div>
  <div></div>
  <div>basedetails</div>
  <div></div>
</div>
<div class="onethirdcolumn">
  <div><a [routerLink]="['settings']" class="button fancy-button">Settings</a></div>
  <div></div>
</div>