<a [routerLink]="['/']">
  <h1>C#G</h1>
</a>
<a [routerLink]="['base']" class="button fancy-button" routerLinkActive="active">Base</a>
<a [routerLink]="['battles']" class="button fancy-button" routerLinkActive="active">Battles</a>
<a [routerLink]="['stats']" class="button fancy-button" routerLinkActive="active">Stats</a>
<a [routerLink]="['settings']" class="button fancy-button" routerLinkActive="active">Settings</a>
<a [routerLink]="['admin']" class="button fancy-button" routerLinkActive="active">Admin</a>